.footer{
    background-color: var(--color-primary);
    color: #fff;

    a{
        color:inherit;
        text-decoration: none;
    }

    img{
        max-width: 190px;
    }

    &--text{
        display: flex;
        flex-direction: column;
        align-items: center;
        @include media-breakpoint-up(sm){
            align-items: flex-start;
        }
        
        > *{
            display:inline-flex;
            margin-bottom:2px;
            align-items: center;
            gap:8px;
        }
    }
}