.footer {
    background-color: var(--color-primary);
    color: #fff;

    a {
        color: inherit;
        text-decoration: none;
    }

    img {
        max-width: 130px;
    }

    &--text {
        display: flex;
        flex-direction: column;
        align-items: center;

        @include media-breakpoint-up(sm) {
            align-items: flex-start;
        }

        >* {
            display: inline-flex;
            margin-bottom: 2px;
            // align-items: center;
            gap: 8px;

            span[class^=icon-] {
                transform: translateY(4px);
            }
        }

        &_right {
            
            @include media-breakpoint-up(sm){
                max-width: 270px;
                margin-left: auto;
            }
        }
    }
}