:root{
	--tc-scroll-ofset:0; //numeros negativos suelen funcionar bien
	
	@include media-breakpoint-up(md){
		--tc-scroll-ofset:0;
	}

	--color-primary: #2a4aa1;
	--color-secondary: #e7d1ff;
	--color-nude: #f5f3e7;
	--color-pink: #f4cbe3;
	--color-grey: #D9D9D9;
	--color-black: #2B2B2B;
}

body {
	font-family: "Nunito", sans-serif;
	font-optical-sizing: auto;
	font-weight: 400;
	font-style: normal;
	font-size: 16px;
}

h1 {
	display: none;
}

h2, .h2 {
	font-size: 34px;
	line-height: 1.3em;
}

h3, .h3{
	font-size:24px;
	line-height: 1.3em;
}

p {
	font-size: 18px;
	line-height: 1.3em;
}

section {
	padding: 3rem 1.5rem;

	@media screen and (min-width:768px) {
		padding: 4rem 3rem;
	}

	.container-xl {
		max-width: 1200px;
		margin: 0 auto;
		height: 100%;
	}
}

.btn {
	display: inline-block;
	text-decoration: none;
	padding: 8px 24px;
	border-radius: 2px;

	&-primary {
		background-color: var(--color-primary);
		color: #fff;
		text-transform: uppercase;
		border: 2px solid var(--color-primary)!important;
		transition: all ease-in-out .15s;

		&:hover {
			background-color: rgba(0, 0, 0, 0);
			color: var(--color-primary);
		}
	}

	&-link{
		padding-left:0;
		font-size: inherit;
		color: inherit;
	}
}

.img-fluid {
	border-radius: 4px;
}

.hero {
	position: relative;

	@media screen and (min-width:1200px) {
		height: 600px;
	}

	&:before {
		content: '';
		width: calc(100% - 20px);
		height: calc(100% - 20px);
		background-color: var(--color-secondary);
		position: absolute;
		top: 10px;
		left: 10px;
		border-radius: 4px;

		@media screen and (min-width:1200px) {
			background-image: url(../img/moras-image.svg);
			background-position: top right -40px;
			background-repeat: no-repeat;
			background-size: auto 650px;

		}
	}



	.container-xl {
		// display: flex;
		// align-items: center;
		position: relative;
		z-index: 1;
	}


	&--content {
		display: flex;
		flex-direction: column;
		gap: 24px;
		color: var(--color-primary);
		flex-basis: auto;
		max-width: 470px;
		text-align: center;
		margin: 0 auto;

		@media screen and (min-width:1200px) {
			margin: 0;
		}

		img {
			width: 100%;
			height: auto;
			max-width: 440px;
			margin: 0 auto;
		}
	}
}

.aboutme {
	background-color: var(--color-primary);
	color: #fff;

	&--content {
		// display: flex;
		// flex-direction: column;
		// gap: 3rem;
		// align-items: center;
		// justify-content: center;

		// @media screen and (min-width:768px) {
		// 	flex-direction: row;
		// }

		// >div {
		// 	flex: 1;
		// }
		
		p {
			text-align: center;
			margin-bottom: 1rem;
			max-width: 450px;
			margin: 0 auto 1rem;
		}

	}
	
}

.formacion{
	background-color: var(--color-nude);
	color:var(--color-primary);
}

.modal{
	color:var(--color-primary);
}