:root {
	--tc-scroll-ofset: 0; //numeros negativos suelen funcionar bien

	@include media-breakpoint-up(md) {
		--tc-scroll-ofset: 0;
	}

	--color-primary: #2a4aa1;
	--color-secondary: #e7d1ff;
	--color-nude: #f5f3e7;
	--color-pink: #f4cbe3;
	--color-grey: #D9D9D9;
	--color-black: #2B2B2B;
}

body {
	font-family: "Nunito", sans-serif;
	font-optical-sizing: auto;
	font-weight: 400;
	font-style: normal;
	font-size: 16px;
}

.lora {
	font-family: "Lora", serif;
	font-optical-sizing: auto;
	font-weight: normal;
	font-style: normal;
}

// h1 {
// 	display: none;
// }

h2,
.h2 {
	// font-size: 34px;
	// line-height: 1.3em;
	font-weight: 500;
	font-stretch: normal;
	font-style: normal;
	line-height: 1;
	letter-spacing: 1.8px;
	// text-align: left;
	// text-transform: uppercase;
	font-size: 28px;
	@extend .lora;

	@include media-breakpoint-up(mdx) {
		font-size: 38px;
	}

	&::after {
		content: '';
		border-bottom-width: 5px;
		margin-top: 22px;
		width: 140px;
		border-bottom-style: solid;
		display: block;
		border-bottom-color: #2a4aa1;
	}

	&.text-center {
		&:after {
			margin-left: auto;
			margin-right: auto;
		}
	}
}

h3,
.h3 {
	font-size: 22px;
	line-height: 1.3em;

	@include media-breakpoint-up(mdx) {
		font-size: 32px;
	}

	&:after {
		content: none;
	}
}

h4,
.h4 {
	font-size: 18px;
	line-height: 1.3em;
	
	@include media-breakpoint-up(sm) {
		font-size: 24px;
	}
}

section {
	scroll-margin-top: 70px;

	@include media-breakpoint-up(md) {
		scroll-margin-top: 85px;
	}

	p,
	ul {
		// font-size: 18px;
		// line-height: 1.3em;
		line-height: 1.3em;
		font-size: 1.1rem;

		@include media-breakpoint-up(sm) {
			font-size: 1.3rem;
		}
	}

}


u {
	text-underline-offset: 2px;
}

.container-xl {
	max-width: 1400px;
	--bs-gutter-x: 30px;

	@include media-breakpoint-up(sm) {
		--bs-gutter-x: 60px;
	}

	@include media-breakpoint-up(md) {
		--bs-gutter-x: 80px;
	}
}

section {
	padding: 3rem 0;

	@include media-breakpoint-up(sm) {
		padding: 4rem 0;
	}

	.container-xl {
		// max-width: 1200px;
		margin: 0 auto;
		height: 100%;
	}
}

.btn {
	display: inline-block;
	text-decoration: none;
	// padding: 8px 24px;
	// border-radius: 4px;
	border-radius: 8px;
	padding: 14px 22px;
	font-weight: 600;
	font-size: 18px;

	&-primary {
		background-color: var(--color-primary);
		color: #fff;
		// text-transform: uppercase;
		border: 2px solid var(--color-primary);
		transition: all ease-in-out .15s;

		&:hover,
		&:active:focus,
		&:active,
		&:focus {
			background-color: #223c84;
			border-color: #223c84;
			color: #fff;
			// color: var(--color-primary);
		}
	}

	&-white {
		background-color: rgba(0, 0, 0, 0);
		color: #fff;
		// text-transform: uppercase;
		border: 2px solid #fff;
		transition: all ease-in-out .15s;

		&:hover,
		&:active:focus,
		&:active,
		&:focus {
			background-color: #fff;
			// border-color: #223c84;
			// color: #fff;
			color: var(--color-primary);
		}
	}

	&-link {

		font-size: inherit;
		position: relative;
		color: inherit;
		// text-underline-offset: .25em;

		&:after {
			content: "";
			position: absolute;
			left: 0;
			bottom: 0;
			width: 0%;
			height: 2px;
			background: var(--color-primary);
			transition: width .25s ease;
		}

		&:hover {
			color: inherit;

			&:after {
				width: 100%;
			}
		}

	}
}

.img-fluid {
	border-radius: 4px;
}