.navbar {
    min-height: 70px;
    padding-top: 0;
    padding-bottom: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 999;
    background-color: rgba(0, 0, 0, 0);
    transition: box-shadow .2s ease, background .2s ease;

    --bs-navbar-toggler-border-color: rgba(255, 255, 255, 0.5);
    --bs-navbar-toggler-icon-bg: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='white' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4%207h22M4%2015h22M4%2023h22'/%3e%3c/svg%3e");

    @include media-breakpoint-up(md) {
        min-height: 85px;
    }

    .navbar-brand {
        padding-top: 0;
        padding-bottom: 0;


        img,
        svg {
            margin: 7.5px 0px;
            display: block;
            width: auto;
            height: auto;
            max-height: 55px;

            @include media-breakpoint-up(ssm) {
                max-width: 175px;
            }

            @include media-breakpoint-up(sm) {
                margin: 15px 0px;
                max-height: 55px;
                max-width: 250px;
            }

            path {
                fill: #fff;
            }
        }
    }

    .navbar-nav {
        padding-bottom: 10px;

        .nav-link {
            color: #fff;
            font-size: 16px;
            font-weight: 400;
            text-transform: uppercase;
            line-height: 30px;
            font-weight: bold;
            padding: 0px 10px;
            position: relative;
            display: inline-block;
            padding-left: 0;
            padding-right: 0;
            margin-left: var(--bs-navbar-nav-link-padding-x);
            margin-right: var(--bs-navbar-nav-link-padding-x);
            ;

            &:after {
                content: "";
                position: absolute;
                left: 0;
                bottom: 0;
                width: 0%;
                height: 2px;
                background: #fff;
                transition: width .25s ease;
            }

            &:hover {
                &:after {
                    width: 100%;
                }
            }
        }
    }

    &:not(.is-sticky) {
        .navbar-nav {
            @include media-breakpoint-down(md) {
                background: var(--color-primary);
                padding: 10px;
                border-radius: 10px;
            }
        }
    }

    &.is-sticky {
        // background-color: var(--color-secondary);
        background-color: var(--color-primary);
        box-shadow: -3px 0px 12px #2b2b2b4a;

        // .navbar-brand {
        //     svg{
        //         path{
        //             // fill:var(--color-primary);
        //         }
        //     }
        // }

        // .navbar-nav{
        //     .nav-link {
        //             // color: var(--color-black);
        //     }
        // }
    }
}