.hero {
    padding: 0;

    img {
        width: 100%;
        height: auto;
    }
}

.aboutme {
    background-color: var(--color-primary);
    color: #fff;

    &--content {
        p {
            text-align: center;
            margin-bottom: 1rem;
            max-width: 450px;
            margin: 0 auto 1rem;
        }

    }
}

.formacion {
    background-color: var(--color-secondary);

    h2 {
        color: var(--color-primary);
    }

    p {
        color: var(--color-black);
    }
}

.modal {
    color: var(--color-primary);
}

.cta-wpp {
    background-color: var(--color-nude);
    text-align: center;
    background-image: url(../img/pattern2.png);
    background-repeat: repeat;


    &--content {
        margin-left: auto;
        margin-right: auto;
        max-width: 760px;
        background-color: var(--color-nude);
        color: var(--color-primary);
        border-radius: 20px;
        padding: 60px 40px;

        h2 {
            text-align: center;
            font-size: 40px;
            line-height: 1.2em;

            &:after {
                content: none;
            }
        }
    }
}

.servicios{
    background-color: var(--color-nude);

    &--grid{
        margin:0 auto;
        @include media-breakpoint-down(xl){
            max-width:760px;
        }
    }

    &--item{
        text-align: center;
        background: #fff;
        padding: 25px 20px;
        border-radius: 12px;
        box-shadow: 0 2px 1px rgba(0, 0, 0, 0.05);
        text-align: center;
        height:100%;
        
        &_title{
            // text-transform:uppercase;
            // font-size: 24px;
            // margin:0 auto 18px;
            // font-weight: 600;;

            font-size: 18px;
            color: var(--color-black);
            text-align: center;
            margin-bottom: 10px;
            font-weight: 700;
            padding-bottom: 6px;
            border-bottom: 2px solid var(--color-primary);
            display: inline-block;
        }

        &_content{
            // font-size:18px;
            color: var(--color-black);
                font-size: 18px;
                line-height: 1.3em;
                max-width: 240px;
                margin: 14px auto 0;
                text-align: center;
        }
    }
}