.hero {
    padding: 0;
    position: relative;
    overflow: hidden;
    padding-top:calc(85px + 4rem);
    padding-bottom:4rem;
    min-height:100vh;
    display: flex;
    width:100%;

    &--image{
        position:absolute;
        top:0;
        left:0;
        width:100%;
        height:100%;
        z-index:1;
        // object-fit: cover;
        // object-position: center right;
        
        img {
            width: calc(100% + 1px);
            height: 100%;
            object-fit: cover;
            object-position: center right;
            transform:translateX(1px);
        }
    }


    &:before {
        content: '';
        background: #000000;
        background: linear-gradient(90deg, rgba(0, 0, 0, .7) 0%, rgba(0, 0, 0, 0) 100%);
        position: absolute;
        top: 0;
        left: 0;
        width: 80%;
        height: 100%;
        z-index:2;
    }

    &--content {
        // position: absolute;
        // top: 0;
        // left: 0;
        // width: 100%;
        // height: 100%;
        position: relative;
        z-index: 3;
        color:#fff;
        width: 100%;

        img{
            width:360px;
            height:auto;
        }

        &_text{
            p{
                max-width: 680px;
            }
        }

        .btn{
            display: inline-flex;
            align-items: center;
            gap: 8px;

            svg{
                width:20px;
                height:auto;

                path{
                    fill:#fff;
                }
            }
        }
    }
}

.aboutme {
    background-color: var(--color-primary);
    color: #fff;

    &--content {
        p {
            text-align: center;
            margin-bottom: 1rem;
            max-width: 450px;
            margin: 0 auto 1rem;
        }

    }
}

.formacion {
    background-color: var(--color-secondary);

    h2 {
        color: var(--color-primary);
    }

    p {
        color: var(--color-black);
    }
}

.modal {
    color: var(--color-primary);
}

.cta-wpp {
    background-color: var(--color-nude);
    text-align: center;
    background-image: url(../img/pattern2.png);
    background-repeat: repeat;


    &--content {
        margin-left: auto;
        margin-right: auto;
        max-width: 760px;
        background-color: var(--color-nude);
        color: var(--color-primary);
        border-radius: 20px;
        padding: 60px 40px;

        h2 {
            text-align: center;
            font-size: 40px;
            line-height: 1.2em;

            &:after {
                content: none;
            }
        }
    }
}

.servicios {
    background-color: var(--color-nude);

    &--grid {
        margin: 0 auto;

        @include media-breakpoint-down(xl) {
            max-width: 760px;
        }
    }

    &--item {
        text-align: center;
        background: #fff;
        padding: 25px 20px;
        border-radius: 12px;
        box-shadow: 0 2px 1px rgba(0, 0, 0, 0.05);
        text-align: center;
        height: 100%;

        &_title {
            // text-transform:uppercase;
            // font-size: 24px;
            // margin:0 auto 18px;
            // font-weight: 600;;

            font-size: 18px;
            color: var(--color-black);
            text-align: center;
            margin-bottom: 10px;
            font-weight: 700;
            padding-bottom: 6px;
            border-bottom: 2px solid var(--color-primary);
            display: inline-block;
        }

        &_content {
            // font-size:18px;
            color: var(--color-black);
            font-size: 18px;
            line-height: 1.3em;
            max-width: 240px;
            margin: 14px auto 0;
            text-align: center;
        }
    }
}